<%= render 'layouts/header' %>

<h1>Update blog #<%= @blog['id'] %></h1>

<p id="notice"><%= @blog.errors.full_messages.first if @blog.errors.any? %></p>

<%= simple_form_for @blog do |f| %>
  <%= f.input :name %>
  <%= f.input :description, :as => :text, :as => :text, :input_html => { class: 'input-large', :rows => 5 } %>
  <%= f.button :submit, :class => 'btn btn-large btn-primary' %>
<% end %>

<%= link_to 'Show', @blog %> | 
<%= link_to 'Back', blogs_path %>
