<%= render 'layouts/header' %>

<% if signed_in? %>
	<h1>Welcome <%= current_user.email_address %>!</h1>
	<a href="/blogs/new"><button class="btn btn-large btn-info">New Blog</button></a>
<% else %>
	<h1>Display all Blogs</h1>
<% end %>

<p id="notice"><%= flash[:notice] %></p>

<table class="table table-striped">
	<tr>
		<th>ID</th>
		<th>Blog Name</th>
		<th>Description</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @blogs.each do |blog| %>
		<tr>
			<td><%= blog['id'] %></td>		
		    <td><%= blog['name'] %></td>
		    <td><%= blog['description'] %></td>
		    <% if signed_in? %>
			    <td><a href="/blogs/<%= blog['id'] %>/"><button class="btn btn-small btn-primary">Show</button></a></td>
			    <td><a href="/blogs/<%= blog['id'] %>/edit"><button class="btn btn-small btn-success">Edit</button></a></td>
			    <td>
			    	<form action="/blogs/<%= blog['id'] %>" method="post">  
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						<input type='hidden' name="_method" value="delete">
						<input class="btn btn-small btn-danger" type="submit" value="Delete" />
					</form>
			    </td>
			<% else %>
				<td><a href="/blogs/<%= blog['id'] %>/"><button class="btn btn-small btn-primary">Show</button></a></td>
				<td></td>
				<td></td>
			<% end %>
		</tr>
	<% end %>     
</table>