<%= render 'layouts/header' %>

<% if signed_in? %>
	<h1>Welcome <%= current_user.first_name %>!</h1>
	<a href="/blogs/new"><button class="btn btn-large btn-info">New Blog</button></a>
	<p id="notice"><%= flash[:notice] %></p>
	<br>

	<h2>My Blogs:</h2>
	<table class="table table-striped">
		<tr>
			<th>Blog</th>
			<th></th>
			<th>ID</th>
			<th>Blog Name</th>
			<th>Description</th>
			<th>Actions</th>
			<th></th>
		</tr>
		<% User.where('id = ?', current_user.id).each do |user|
			user.blogs.each do |blog| %>
				<tr>
					<td><a href="/blogs/<%= blog['id'] %>/"><button class="btn btn-small btn-primary">Blog</button></a></td>
					<td><a href="/blogs/<%= blog['id'] %>/posts/new"><button class="btn btn-small btn-info">New Post</button></a></td>
					<td><%= blog['id'] %></td>		
				    <td><%= blog['name'] %></td>
				    <td><%= blog['description'] %></td>
				    <td><a href="/blogs/<%= blog['id'] %>/edit"><button class="btn btn-small btn-success">Edit</button></a></td>
				    <td>
				    	<form action="/blogs/<%= blog['id'] %>" method="post">  
							<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
							<input type='hidden' name="_method" value="delete">
							<input class="btn btn-small btn-danger" type="submit" value="Delete" />
						</form>
				    </td>
				</tr>
			<% end %>  
		<% end %>     
	</table>
<br>

	<h2>Read Blogs by other users!</h2>
	<table class="table table-striped">
		<tr>
			<th>Blog</th>
			<th>ID</th>
			<th>Blog Name</th>
			<th>Description</th>
			<th>Owner</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% User.where('id != ?', current_user.id).each do |user|
			user.blogs.each do |blog| %>
				<tr>
					<td><a href="/blogs/<%= blog['id'] %>/"><button class="btn btn-small btn-primary">Read</button></a></td>
					<td><%= blog['id'] %></td>		
				    <td><%= blog['name'] %></td>
				    <td><%= blog['description'] %></td>		 
					<td><%= user['first_name'] %> <%= user['last_name'] %></td>
					<td></td>
					<td></td>
				</tr>
			<% end %>
		<% end %>
	</table>

<% else %>

	<h2>Read Blogs by all users!</h2>
	<p id="notice"><%= flash[:notice] %></p>

	<table class="table table-striped">
		<tr>
			<th>Blog</th>
			<th>ID</th>
			<th>Blog Name</th>
			<th>Description</th>
			<th>Owner</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% User.all.each do |user|
			user.blogs.each do |blog| %>
				<tr>
					<td><a href="/blogs/<%= blog['id'] %>/"><button class="btn btn-small btn-primary">Read</button></a></td>
					<td><%= blog['id'] %></td>		
				    <td><%= blog['name'] %></td>
				    <td><%= blog['description'] %></td>
				    <td><%= user['first_name'] %> <%= user['last_name'] %></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			<% end %> 	
		<% end %>     
	</table>

<% end %>