<h1>New Blog</h1>

<p class="error"><%= @blog.errors.full_messages.first if @blog.errors.any? %></p>
<p class="notice"><%= notice %></p>

<%= simple_form_for(@blog) do |f| %>
  <%= f.input :name %>
  <%= f.input :description, :as => :text, :input_html => { class: 'input-large', :rows => 5 } %>
  <%= f.button :submit, :class => 'btn btn-large btn-success'  %>
<% end %>

<%= link_to 'Back', blogs_path %>

<!-- 
<form action="/blogs" method="post">  
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">  
	<input type="text" name="name" placeholder="name" /><br> 
	<input type="text" name="content" placeholder="content" />  
	<textarea name="description" placeholder="description" ></textarea><br>  
	<input type="submit" value="Create Blog" />
</form> -->