<h1><%= @blog['name'] %></h1>
<h3><%= @blog['description'] %></h3>


<% if signed_in? %>
<% else %>
<% end %>

<% if signed_in? %>
	<a href="/blogs/<%= @blog['id'] %>/posts/new"><button class="btn btn-large btn-info">New Post</button></a>
<% else %>
<% end %>

<p id="notice"><%= notice %></p>
<br>

<% @posts.each do |post| %>

	<p>Posted by 
		<% User.where("id = '#{post.user_id}'").each do |post_user| %>
			<%= post_user.first_name %> <%= post_user.last_name %>
		<% end %>
		at <%= post['created_at'] %>
	</p>
	
	<div class="well">
    	<h4><%= post['title'] %></h4>
    	<p><%= post['content'] %></p>
    </div>
	<br> 
<% end %>

<br><br>

<%= link_to 'Back', blogs_path %>