<h1>Display Blog</h1>
<a href="/blogs/<%= @blog['id'] %>/posts/new"><button class="btn btn-large btn-info">New Post</button></a>

<p id="notice"><%= notice %></p>

<table class="users table">
	<tr>
		<th>ID</th>
		<th>Blog Name</th>
		<th>Description</th>
	</tr>
		<tr>
			<td><%= @blog['id'] %></td>		
		    <td><%= @blog['name'] %></td>
		    <td><%= @blog['description'] %></td>
		</tr>
</table>

<br><br>

<% if signed_in? %>
	<%= link_to 'Edit', edit_blog_path(@blog) %> |
<% else %>
<% end %>
<%= link_to 'Back', blogs_path %>
