<h1><%= @blog['name'] %></h1>
<h3><%= @blog['description'] %></h3>

<% if signed_in? %>
<% else %>
<% end %>

<% if signed_in? %>
	<a href="/blogs/<%= @blog['id'] %>/posts/new"><button class="btn btn-large btn-info">New Post</button></a>
<% else %>
<% end %>

<p class="notice"><%= notice %></p>

<br>

<% @posts.each do |post| %>

	<p>Posted by 
		<%= @blog.users.first.first_name%> <%= @blog.users.first.last_name%>
		at <%= post['created_at'] %>
		<% if signed_in? %> - 
			<%= link_to 'Edit', edit_blog_post_path(@blog, post) %> | 
			<%= link_to 'Delete', blog_post_path(post.blog, post), method: :delete, data: { confirm: 'Are you sure?'} %>
		<% else %>
		<% end %>
	</p>
	
	<div class="well">
    	<h4><%= post['title'] %></h4>
    	<p><%= post['content'] %></p>
    </div>

	<br> 
<% end %>

<br><br>

<%= link_to 'Back', blogs_path %>