<%= render 'layouts/header' %>

<h1>Update Post #<%= @post['id'] %></h1>

<p id="notice"><%= @post.errors.full_messages.first if @post.errors.any? %></p>

<%= simple_form_for([@blog, @post]) do |f| %>
  <%= f.input :title %>
  <%= f.input :content, :as => :text, :as => :text, :input_html => { class: 'input-large', :rows => 10 } %>
  <%= f.button :submit, value: 'Update Post' , :class => 'btn btn-large btn-primary' %>
<% end %>

<form action="/blogs/<%= @blog.id %>/posts/<%= @post['id'] %>" method="post">  
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type='hidden' name="_method" value="delete">
	<input class="btn btn-small btn-danger" type="submit" value="Delete" />
</form>

<%= link_to 'Back', blog_path(@blog) %>