<%= render 'layouts/header' %>

<h1>Update Post #<%= @post['id'] %></h1>

<p class="error"><%= @post.errors.full_messages.first if @post.errors.any? %></p>
<p class="notice"><%= notice %></p>

<%= simple_form_for([@blog, @post]) do |f| %>
  <%= f.input :title %>
  <%= f.input :content, :as => :text, :as => :text, :input_html => { class: 'input-large', :rows => 10 } %>
  <%= f.button :submit, value: 'Update Post' , :class => 'btn btn-large btn-primary' %>
<% end %>

<%= link_to "Delete", blog_post_path(@post.blog, @post), confirm: "Are you sure?", method: :delete, class: 'btn btn-small btn-danger' %>

<br><br>

<%= link_to 'Back', blog_path(@blog) %>