<h1>Display Post</h1>

<p id="notice"><%= notice %></p>

<table class="users table">
	<tr>
		<th>ID</th>
		<th>Post Name</th>
		<th>Description</th>
	</tr>
		<tr>
			<td><%= @post['id'] %></td>		
		    <td><%= @post['title'] %></td>
		    <td><%= @post['content'] %></td>
		</tr>
</table>

<% if signed_in? %>
	<%= link_to 'Edit', edit_blog_post_path %> |
<% else %>
<% end %>
<%= link_to 'Back', blog_posts_path %>
